{% form_theme form 'IbtikarShareEconomyDashboardDesignBundle:Theme:dashboard.html.twig' %}

    <div class="panel-body dev-main-form-container">
        <div class="row">
            <div class="col-md-12">
                {% for flashMessageType, flashMessageArray in app.session.flashBag.all %}
                    {% for flashMessage in flashMessageArray %}
                <div class="alert {{ flashMessageType == 'error' ? 'alert-danger' : flashMessageType == 'success' ? 'alert-success' : 'alert-info' }} no-border">
                    <button data-dismiss="alert" class="close" type="button"><span>×</span><span class="sr-only">{% trans %}Close{% endtrans %}</span></button>{{ flashMessage }}
                </div>
                    {% endfor %}
                {% endfor %}
                {% block form_container %}
                {{ form(form) }}
                {% endblock %}
            </div>
        </div>
    </div>

