{% extends 'IbtikarGlanceDashboardBundle::layout.html.twig' %}

{% block title %}{% trans  %}Welcome{% endtrans %} {{ app.user.getPath }}{% endblock %}

{% block content %}
    <h1>{{ block('title') }}</h1>
{% endblock %}