<div class="modal-header bg-primary">
    {% block modalHeader %}{% endblock %}
</div>

<div class="modal-body">
    {% block modalBody %}{% endblock %}
</div>

<div class="modal-footer">
    {% block modalFooter %}{% endblock %}
</div>

{% block javascript %}{% endblock %}

