        <!-- Second navbar -->
        <div class="navbar navbar-default" id="navbar-second">
            <ul class="nav navbar-nav no-border visible-xs-block">
                <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i class="icon-menu7"></i></a></li>
            </ul>

            <div class="navbar-collapse collapse" id="navbar-second-toggle">
                <ul class="nav navbar-nav">
                    <li><a href="index.html"><i class="icon-display4 position-left"></i> لوحة التحكم</a></li>

                    <li class="dropdown mega-menu mega-menu-wide">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-puzzle4 position-left"></i> المحتوي <span class="caret"></span></a>

                        <div class="dropdown-menu dropdown-content">
                            <div class="dropdown-content-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <span class="menu-heading underlined">المنيو</span>
                                        <ul class="menu-list">
                                            <li>
                                                <a href="#"><i class="icon-pencil3"></i> المنيو</a>
                                                <ul>
                                                    <li><a href="form_inputs_basic.html"> المنيو١</a></li>
                                                    <li><a href="form_checkboxes_radios.html">المنيو ٢</a></li>
                                                    <li><a href="form_input_groups.html">المنيو٣</a></li>
                                                    <li><a href="form_controls_extended.html">المنيو ٤</a></li>
                                                    <li><a href="form_floating_labels.html">المنيو ٥</a></li>
                                                    <li>
                                                        <a href="#">Selects</a>
                                                        <ul>
                                                            <li><a href="form_select2.html">المنيو</a></li>
                                                            <li><a href="form_multiselect.html">المنيو</a></li>
                                                            <li><a href="form_select_box_it.html">المنيو</a></li>
                                                            <li><a href="form_bootstrap_select.html">المنيو</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="form_tag_inputs.html">المنيو</a></li>
                                                    <li><a href="#">المنيو</a></li>
                                                    <li><a href="#">المنيو</a></li>
                                                    <li><a href="#">المنيو</a></li>
                                                    <li><a href="#">المنيو</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-file-css"></i> المنيو</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-file-css"></i> المنيو</a>
                                                <ul>
                                                    <li><a href="#">المنيو</a></li>
                                                    <li><a href="#">المنيو</a></li>
                                                    <li><a href="#">المنيو</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-file-css"></i> المنيو</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-file-css"></i> المنيو</a>
                                                <ul>
                                                    <li><a href="#">المنيو</a></li>
                                                    <li><a href="#">المنيو</a></li>
                                                    <li><a href="#">المنيو</a></li>
                                                </ul>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="menu-heading underlined">المنيو</span>
                                        <ul class="menu-list">
                                            <li>
                                                <a href="#"><i class="icon-pencil3"></i> المنيو</a>
                                                <ul>
                                                    <li><a href="form_inputs_basic.html"> المنيو١</a></li>
                                                    <li><a href="form_checkboxes_radios.html">المنيو ٢</a></li>
                                                    <li><a href="form_input_groups.html">المنيو٣</a></li>
                                                    <li><a href="form_controls_extended.html">المنيو ٤</a></li>
                                                    <li><a href="form_floating_labels.html">المنيو ٥</a></li>
                                                    <li>
                                                        <a href="#">Selects</a>
                                                        <ul>
                                                            <li><a href="form_select2.html">المنيو</a></li>
                                                            <li><a href="form_multiselect.html">المنيو</a></li>
                                                            <li><a href="form_select_box_it.html">المنيو</a></li>
                                                            <li><a href="form_bootstrap_select.html">المنيو</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="form_tag_inputs.html">المنيو</a></li>
                                                    <li><a href="#">المنيو</a></li>
                                                    <li><a href="#">المنيو</a></li>
                                                    <li><a href="#">المنيو</a></li>
                                                    <li><a href="#">المنيو</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-file-css"></i> المنيو</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-file-css"></i> المنيو</a>
                                                <ul>
                                                    <li><a href="#">المنيو</a></li>
                                                    <li><a href="#">المنيو</a></li>
                                                    <li><a href="#">المنيو</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-file-css"></i> المنيو</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-file-css"></i> المنيو</a>
                                                <ul>
                                                    <li><a href="#">المنيو</a></li>
                                                    <li><a href="#">المنيو</a></li>
                                                    <li><a href="#">المنيو</a></li>
                                                </ul>
                                            </li>

                                        </ul>
                                    </div>

                                    <div class="col-md-3">
                                        <span class="menu-heading underlined">المنيو</span>
                                        <ul class="menu-list">
                                            <li>
                                                <a href="#"><i class="icon-pencil3"></i> المنيو</a>
                                                <ul>
                                                    <li><a href="form_inputs_basic.html"> المنيو١</a></li>
                                                    <li><a href="form_checkboxes_radios.html">المنيو ٢</a></li>
                                                    <li><a href="form_input_groups.html">المنيو٣</a></li>
                                                    <li><a href="form_controls_extended.html">المنيو ٤</a></li>
                                                    <li><a href="form_floating_labels.html">المنيو ٥</a></li>
                                                    <li>
                                                        <a href="#">Selects</a>
                                                        <ul>
                                                            <li><a href="form_select2.html">المنيو</a></li>
                                                            <li><a href="form_multiselect.html">المنيو</a></li>
                                                            <li><a href="form_select_box_it.html">المنيو</a></li>
                                                            <li><a href="form_bootstrap_select.html">المنيو</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="form_tag_inputs.html">المنيو</a></li>
                                                    <li><a href="#">المنيو</a></li>
                                                    <li><a href="#">المنيو</a></li>
                                                    <li><a href="#">المنيو</a></li>
                                                    <li><a href="#">المنيو</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-file-css"></i> المنيو</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-file-css"></i> المنيو</a>
                                                <ul>
                                                    <li><a href="#">المنيو</a></li>
                                                    <li><a href="#">المنيو</a></li>
                                                    <li><a href="#">المنيو</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-file-css"></i> المنيو</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-file-css"></i> المنيو</a>
                                                <ul>
                                                    <li><a href="#">المنيو</a></li>
                                                    <li><a href="#">المنيو</a></li>
                                                    <li><a href="#">المنيو</a></li>
                                                </ul>
                                            </li>

                                        </ul>
                                    </div>


                                    <div class="col-md-3">
                                        <span class="menu-heading underlined">المنيو</span>
                                        <ul class="menu-list">
                                            <li>
                                                <a href="#"><i class="icon-pencil3"></i> المنيو المنيو</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-file-css"></i> المنيو</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-file-css"></i> المنيو</a>
                                                <ul>
                                                    <li><a href="#">المنيو</a></li>
                                                    <li><a href="#">المنيو</a></li>
                                                    <li><a href="#">المنيو</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-file-css"></i> المنيو</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-file-css"></i> المنيو</a>

                                            </li>

                                        </ul>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-make-group position-left"></i> الاستوديو <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu width-250">
                            <li class="dropdown-header">المنيو ٢</li>
                            <li class="dropdown-submenu">
                                <a href="#"><i class="icon-task"></i> المنيو </a>
                                <ul class="dropdown-menu width-200">
                                    <li class="dropdown-header highlight">الاختيارات</li>
                                    <li><a href="task_manager_grid.html">المنيو</a></li>
                                    <li><a href="task_manager_list.html">المنيو</a></li>
                                    <li><a href="task_manager_detailed.html">المنيو</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#"><i class="icon-cash3"></i> المنيو ٣</a>
                                <ul class="dropdown-menu width-200">
                                    <li class="dropdown-header highlight">المنيو</li>
                                    <li><a href="invoice_template.html">المنيو</a></li>
                                    <li><a href="invoice_grid.html">المنيو</a></li>
                                    <li><a href="#">المنيو</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-header">المنيو ٣</li>
                            <li class="dropdown-submenu">
                                <a href="#"><i class="icon-people"></i> المنيو</a>
                                <ul class="dropdown-menu width-200">
                                    <li class="dropdown-header highlight">المنيو</li>
                                    <li><a href="user_pages_cards.html">المنيو</a></li>
                                    <li><a href="user_pages_list.html">المنيو</a></li>
                                    <li class="dropdown-header highlight">المنيو</li>
                                    <li><a href="user_pages_profile.html">المنيو</a></li>
                                    <li><a href="user_pages_profile_cover.html">المنيو</a></li>
                                </ul>
                            </li>

                        </ul>
                    </li>


                </ul>

                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-cog3"></i>
                            <span class="visible-xs-inline-block position-right">انشر</span>
                            <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#"><i class="icon-user-lock"></i> الخصوصية</a></li>
                            <li><a href="#"><i class="icon-statistics"></i> الارقام</a></li>
                            <li><a href="#"><i class="icon-accessibility"></i> السهولة</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="icon-gear"></i> الضبط</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /second navbar -->