{% extends 'IbtikarGlanceDashboardBundle::baseModal.html.twig' %}

{% block modalHeader %}
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="modal-title">{{'Permision'|trans({},translationDomain) }}</h3>
{% endblock %}

{% block modalBody %}

    <div class="modal-body">

        <ul class="dropdown-menu dropdown-menu-sortable dev-columns-multi-select" style="display: block; position: static; width: 100%; margin-top: 0; float: none;">
            {% for permision in permisions%}
                <li>

                    <div class="media-body">
                        <div class="media-heading">
                            {{permision|humanize|trans({},translationDomain)}}
                        </div>
                    </div>



                </li>

            {% endfor %}

        </ul>


    </div>



















{% endblock %}

{% block modalFooter %}
    <button type="button" class="btn btn-link" data-dismiss="modal">الغاء</button>

{% endblock %}
{% block javascript %}
    <script>
        var toggleButtonColor = '#D6494C';
    </script>
{% endblock %}