{% extends 'IbtikarGlanceDashboardBundle::baseModal.html.twig' %}

{% block modalHeader %}
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="modal-title">{{'delete recipe'|trans({},translationDomain)}}</h3>
{% endblock %}

{% block modalBody %}

    <form method="post" id="dev-delete-modal">

        {{msg}}
        <hr/>
        <div class="row">
            <div class="col-lg-12">
                <textarea placeholder="" class="form-control" cols="5" rows="5" required="" id="dev-delete-reason"></textarea>
            </div>
        </div>
    </form>



{% endblock %}

{% block modalFooter %}
    <button type="button" class="btn btn-link" data-dismiss="modal">الغاء</button>

    <button type="button" class="btn btn-primary dev-save-delete-recipe">
        {{'Save'|trans}}
    </button>
{% endblock %}



{% block javascript %}
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/pages/components_modals.js')}}"></script>
    <script>
        var toggleButtonColor = '#D6494C';



    </script>
{% endblock %}