{% extends  'IbtikarGlanceDashboardBundle:List:baseList.html.twig' %}


{% block statistic %}
{#    <span class="label bg-number heading-text"><span class="dev-document-count">{{total}}</span> {% trans from translationDomain %}tags{% endtrans %}</span>#}
{% endblock %}

{% block breadCrumb %}

    <a class="btn btn-link btn-float has-text activeLink" href="javascript:void(0)"><i class="icon-table2"></i> <span>الاطباق والوجبات</span></a>

{% endblock %}
