<td>
    <a style="text-decoration: none;" target="_blank" href="{{ url }}">
        <img width="20" height="20" border="0" style="display:block; border:none; outline:none; text-decoration:none;" alt="{{ socialNetworkAlt }}" src="{{ base_http_url ~ socialImage }}" />
    </a>
</td>