       <td  style="white-space: nowrap;">
                                                                        {% if  object.getNotModified() is not defined  or  object.getNotModified()== false %}
                                                                            {% for action in list.actions %}
                                                                                {% if action == "Answer" %}
                                                                                    {% if is_granted('ROLE_' ~ listName|upper ~'_ANSWER') or is_granted('ROLE_ADMIN') %}
                                                                                        <a class="btn btn-default"  href = "{{ path(prefixRoute|lower ~ '_answer', {'id': object.id}) }}"  ><i class="icon-eye" data-popup="tooltip"  data-placement="right" title="{{ ('Answer ' ~  listName)|trans({},translationDomain)}}"></i></a>
                                                                                    {% endif %}
                                                                                {% elseif action == "ChangeStatus" %}
                                                                                        {% if is_granted('ROLE_' ~ listName|upper ~'_CHANGESTATUS') or is_granted('ROLE_ADMIN')  %}
                                                                                        <a href="javascript:void(0);" class="btn btn-default dev-change-status" data-url="{{ path(prefixRoute|lower~'_change_status', {'id': object.id}) }}">
                                                                                            <i class="icon-checkmark3" data-popup="tooltip"  data-placement="right" title="{{('Change Status ' ~  listName|capitalize)|trans({},translationDomain)}}" ></i>
                                                                                        </a>
                                                                                    {% endif %}
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        {% endif  %}
                                                                    </td>